:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px
}

h2 {
    text-align: center;
}
.controls {
    text-align: center;
}
img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(--blur);
}
.hl {
    color: var(--base);
}